body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("foto/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 0;
}

.form-container {
    border: 0px;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 0px;
    margin: 120px auto;
    background-color: #0d2329;
    width: 600px;
    max-width: 800px;
    position: relative;
    display: flex;
    background: linear-gradient(to right, #0d2329 50%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right top;
}

.form-container .form-content {
    padding: 50px;
    flex: 1;
}

.form-container h1 {
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #d6d6d6;
}

.form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button,
a {
    width: calc(100% - 20px);
    padding: 12px;
    background: linear-gradient(to right, rgb(12, 59, 71) 0%, #616161 100%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

a {
    background: linear-gradient(to right, rgb(14, 108, 132) 0%, #8f8f8f 100%);
    text-align: center;
    margin-bottom: 30px;
    max-width: 130px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    max-height: 20px;
}

.form-container button:hover,
a:hover {
    transform: scale(1.1);
}

input {
    background-color: #e8f0fe9e;
    width: 96%;
    color: #242424;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}