html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("foto/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 80px auto;
    height: 100vh;
    width: 100%;
    place-items: center;
}

.startbox {
    background-image: url("foto/logo2.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0px;
    padding: 10px;
}

h1 {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

p.starts {
    margin-top: 0px;
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    color: rgb(228, 228, 228)
}

.underline-design {
    border-bottom: 2px solid #cccccc; 
    background: linear-gradient(to right, rgb(12, 59, 71) 0%, #616161 100%);
    width: 350px;
    text-decoration: none; 
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
} 

form {
    max-width: 400px;
    width: 100%;
    padding: 25px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #0d2329;
    display: inline-flexbox;
    margin: 20px auto;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.underline {
    border-bottom: 1px solid #cccccc; 
    width: 390px;
    text-decoration: none; 
    display: flex;
    margin-left: 10px;
    margin-bottom: 30px;
}

label {
    color: white;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="email"],
input[type="password"],
input[type="tel"] {
    background-color: #e8f0fe00;
    width: 96%;
    color: #bfbfbf;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    max-width: 96%;
    min-width: 96%;
    min-height: 19px;
    height: 19px;
}

input[type="date"] {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
    color: #333;
    background-color: #e8f0fe;
}

/* Style for radio buttons */
input[type="radio"] {
    appearance: none;
    border: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

input[type="radio"] + label {
    color: #333;
    font-weight: normal;
}

input[type="radio"]:checked {
    background-color: #3498db;
    border-color: #3498db;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 27px;
    width: 350px;
    background: linear-gradient(to right, rgb(12, 59, 71) 0%, #616161 100%);
    color: rgb(230, 230, 230);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

label i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.yesaccount-group {
    font-size: 10px;
    display: inline-block;
    margin-left: 128px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.659);
}

a.loginPress {
    color: rgba(255, 255, 255, 0.659);;
}

a.loginPress:hover {
    color: rgb(255, 255, 255);
}